#main{
    display: flex;
    position: relative;
    flex-direction: column;
    border:2px solid lightgray;
   object-fit: cover;
    margin-top: 6%;
    padding: 25px;
    border-radius: 12px;
    width: 85%;
    height: 60%;
    margin-top: 15%;
    background:linear-gradient(to bottom,rgba(81, 230, 228, 0.367),rgba(8, 216, 199, 0.205));
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;    

}

.header-wrapper >h2{
    margin: 5px;
    margin-bottom: 10%;
    color: aliceblue;
    text-shadow: 2px 2px #444;
}

select{
    padding: 3px;
    font-size: 24px;
    
}

input{
    padding: 3px;
    margin: 0px 10px;
    width: 120px;
    font-size: 24px;
}
